[submodule "lib/morpho-blue"]
	path = lib/morpho-blue
	url = https://github.com/morpho-org/morpho-blue
[submodule "lib/morpho-blue-irm"]
	path = lib/morpho-blue-irm
	url = https://github.com/morpho-org/morpho-blue-irm
[submodule "lib/morpho-blue-oracles"]
	path = lib/morpho-blue-oracles
	url = https://github.com/morpho-org/morpho-blue-oracles
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/metamorpho"]
	path = lib/metamorpho
	url = https://github.com/morpho-org/metamorpho
[submodule "lib/morpho-blue-bundlers"]
	path = lib/morpho-blue-bundlers
	url = https://github.com/morpho-org/morpho-blue-bundlers
